:root {
    --text-color: rgb(212, 212, 212);
    --background-color: #101216;
    --card-color: rgb(0, 0, 0, 0.1);
    --server-color: #25272b;
    --bx-shdw: 0 0 10px #16171a;
}
@font-face {
    font-family: "Ginto Nord";
    src: url(Ginto-Nord-Black.ttf);
}

@font-face {
    font-family: "Ginto";
    src: url(Ginto-Black.ttf);
}
@font-face {
    font-family: "Whitney";
    src: url(Whitney-Medium.ttf);
}

@font-face {
    font-family: "Helvetica";
    src: url(HelveticaNeueCyr-Roman.ttf);
}

body {
    padding: 0;
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
    font-family: "Whitney", "Helvetica";
    font-size: 17px;
}

* {
    box-sizing: border-box;
}


h1 {
    font-family: "Ginto Nord";
}

a, button {
    text-decoration: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: var(--text-color);
    font-size: 17px;
}
.container {
    max-width: 950px;
    margin: 20px auto;
    padding: 50px;
    /* border-radius: 20px;
    padding: 50px;
    background-color: var(--card-color);
    box-shadow: var(--bx-shdw); */
}
.greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: help;
}

.greeting-emoji {
    width: 70px;
    margin-right: 15px;
    border-radius: 15px;
}

.greeting-b {
    background: linear-gradient(to right, #FF4343, #FF3D9A, #C242FF, #349EFF);
    color: transparent;
    -webkit-background-clip: text;
}

.attention {
    font-size: 19px;
    padding: 20px;
    /* text-align: center; */
    background-color: rgb(255, 209, 59, 0.2);
    border: 2px solid #ffd13b;
    border-radius: 5px;
}

.attention a {
    color: #52c5ff;
}

.attention a:hover {
    text-decoration: underline;
}

.text {
    letter-spacing: 2px;
}

.title {
    margin-top: 20px;
    font-family: "Ginto";
    text-align: center;
    font-size: 25px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.link-btn {
    margin: 10px 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    color: white;
    transition: .16s ease;
    user-select: none;

}


.btn-green {
    background-color: #2D7D46;
}
.btn-green:hover {
    background-color: #215B32;
}

.btn-green:active {
    background-color: #1E532E;
}

.btn-donate {
    background-color: #FF8C00;
}
.btn-donate:hover {
    background-color: #da7801;
}

.btn-donate:active {
    background-color: #b46300;
}

.btn-git {
    background-color: #171515;
}
.btn-git:hover {
    background-color: #080808;
}

.btn-git:active {
    background-color: #000000;
}

.btn-tg {
    background-color: #0088cc;
}
.btn-tg:hover {
    background-color: #006ba0;
}

.btn-tg:active {
    background-color: #005885;
}

.btn-ru {
    background-color: #ff7f50;
}
.btn-ru:hover {
    background-color: #d86034;
}

.btn-ru:active {
    background-color: #bd4f27;
}

.btn-blurple {
    background-color: #5865F2;
}

.btn-blurple:hover {
    background: hsl(235,calc(1*51.4%),52.4%);;
}
.btn-blurple:active {
    background: hsl(235,calc(1*46.7%),44.1%);
}

.btn-icon {
    font-size: 20px;
    margin-right: 7px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info-group {
    display: flex;
    margin: 5px 0;
}

.info-group code {
    margin-left: 5px;
    color: #52c5ff;
}

@media (max-width: 1070px) {
    .greeting {
        font-size: 25px;
    }
    .greeting-emoji {
        width: 50px;
    }
    .title {
        font-size: 20px;
    }
}

@media (max-width:570px) {
    .container {
        width: 80%;
    }
}

@media (max-width:460px) {
    .container {
        width: 90%;
    }
    .greeting {
        font-size: 20px;
    }

    
}

@media (max-width:330px) {
    .greeting {
        font-size: 15px;
    }
}

footer {
    text-align: center;
    font-family: "Ginto";
}

footer a {
    font-size: 25px;
    color: #5865F2;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width:475px) {
    footer h2 {
        font-size: 20px;
    }
    footer a {
        font-size: 20px;
    }
}

::-webkit-scrollbar {
    background-color: var(--background-color);
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: #5865F2;
    border-radius: 10px;
    border: 5px solid var(--background-color);
}

.vay-ogo {
    width: auto;
}

.setTheme {
    cursor: pointer;
    font-size: 45px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 10%;
    padding: 15px 0;
    text-align: center;
    border-radius: 10px;
    background-color: var(--server-color);
}

@media (max-width:725px) {
    .info, .info-column {
        display: block;
        width: 100%;
        text-align: center;
    }
}
